<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="navbar">
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('log') }}">Workout Log</a>
            <a href="{{ url_for('account') }}">Account</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('create') }}">Create Log</a>
        </div>
        {% block body_content %}
        {% endblock %}
    </body>
</html>