{% extends "layout.html" %}
{% block body_content %}
    <h1>Workout Log Page</h1>
    <p>this is the about page</p>
    {% for log in logs %}
        <div>
            <h3>{{ log.date_posted }}</h3>
            <p><b> - user:</b>{{ log.user_id }}</p>
            <p><b> - workout:</b>{{ log.workout }}</p>
            <p><b> - part:</b>{{ log.body_part }}</p>
            <p><b> - sets:</b>{{ log.sets }}</p>
            <p><b> - reps:</b>{{ log.reps }}</p>
        </div>
    {% endfor %}
{% endblock body_content %}