{% extends "layout.html" %}
{% block body_content %}
    <h1>Workout Log Page</h1>
    <p>this is the about page</p>
        <table>
            <tr>
                <th>Date</th>
                <th>Body Part</th>
                <th>Actions</th>
            </tr>
            <tr>
            {% for log in logs %}
                <td>{{ log.date_posted }}</td>
                <td>{{ log.body_part }}</td>
                <td>
                    <a href="" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            {% endfor %}
            </tr>
        </table>
{% endblock body_content %}